body{
    background-color: #eeebeb;
    padding: 5%;
    padding-left: 20%;
    padding-right: 25%;
    font-family: 'Playfair Display';
}

/* .header {
    padding-bottom: 2%;
} */

.header-line {
    width: 28%;
    margin: 0;
    padding: 0;
    display: inline-table;
}

h3 {
    font-size: large;
    padding: 0%;
    margin: 0px;
    display: inline-table;

}

p{
    padding-top: 2%;
}

.chart {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 20%;
    padding-top: 5%;
    /* padding-left: 17%; */
}

.jar {
    margin: 0;
    padding: 0;
    background-size:contain;
    width: 500px;
    height: 532px;
    background-repeat: no-repeat;
    display: inline-flexbox;
}

#dots{
    display: inline-flexbox;
    padding-left: 13%;
    padding-top: 27%;
    max-width: 300px;
    min-width: 200px;
    max-height: 300px;
    min-height: 200px;
    padding-bottom: 0;
    margin-bottom: 0;
}


.footer {
    font-size: 12px;
}

#designer{
    text-align: right;
}
